*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
}
.nav-title > ul{
display: flex;
align-items: center;
list-style: none;
gap: 30px;
}
.nav-title a{
    text-decoration: none;
}